@model SubMenuTransac

<ul class="nav nav-pills nav-fill mb-3">
    <li class="nav-item">
        <a class="nav-link @(Model == SubMenuTransac.Diario ? "active" : null)"
           asp-action="TransaccionesPorUsuario">Diario
       </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == SubMenuTransac.Semanal ? "active bg-dark" : null)" 
        asp-action="Semanal">Semanal
    </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == SubMenuTransac.Mensual ? "active bg-secondary" : null)" 
        asp-action="Mensual">Mensual
    </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == SubMenuTransac.Excel ? "active bg-success" : null)" 
        asp-action="ExcelReporte">Excel
    </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model == SubMenuTransac.Calendario ? "active bg-warning" : null)"
        asp-action="Calendario">Calendario
    </a>
    </li>
</ul>