@model PaginacionRespuesta<Categoria>

@{
    ViewData["Title"] = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categorias</h1>
<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>
<div class="row">
    <label>Cantidad de registros a mostrar:</label>
    <div class="mb-3 col-auto">
        <select asp-for="@Model.RecordsPorPagina" id="cantidadRecordsPorPagina" class="form-select">
            <option>3</option>
            <option>5</option>
            <option>10</option>
            <option>25</option>
        </select>
    </div>
</div>
<partial name="_Paginacion"/>
<table class="table">
    <thead>
        <tr>
            <th>
                Acciones
            </th>
             <th>
                Nombre
            </th>
             <th>
                Tipo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Elementos)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@item.CategoriaId">Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@item.CategoriaId">Borrar</a>
                </td>
                <td>
                    @item.Nombre
                </td>
                 <td>
                    @item.TipoOperacionId.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $("#cantidadRecordsPorPagina").change(function (){
            const recordsPorPagina = $(this).val();
            location.href = `/Categorias/CategoriaUsuario?pagina=1&recordsPorPagina=${recordsPorPagina}`;
        });
    </script>
}

